._s2h{text-align:right}
.sp_gFxEGm9tNrS_1_5x{background-image:url(/rsrc.php/v3/yP/r/jRrvmXGpcMH.png);background-size:26px 44px;background-repeat:no-repeat;display:inline-block;height:24px;width:24px}.sp_gFxEGm9tNrS_1_5x.sx_61a83b{background-position:0 0}.sp_gFxEGm9tNrS_1_5x.sx_38b36c{width:16px;height:16px;background-position:0 -26px}

#bootloader_uGlWM{height:42px;}.bootloader_uGlWM{display:block!important;}